<div class="forum_links">
  <%= link_to t('forum_topic.back_to_forums'), forums_path %>|
  <%= link_to t('forum_topic.back_to_forum')+ @forum.name.to_s, forum_path(@forum) %>
</div>
<div class="widget_complete">
  <span class="widget_complete_top"></span>
  <h3 class="forum_head">
    <div class="froum_page_title"><%= sanitize(@topic.title)%></div>
    <div class="forum_links">
      <% if @u.is_admin? %>
        <%= link_to image_tag('edit.png', :title => t('forum_topic.edit')), 
                  edit_forum_topic_path(@topic.forum,@topic)%>
        <%= link_to image_tag('delete.png', :title => t('forum_topic.delete')), 
                  forum_topic_path(@topic.forum,@topic), 
                  :method => :delete %>
      <% end %>
   </div>
 </h3>
 <div class="forum_text">
 <% unless @posts.blank? %>
    <%= render :partial => 'forum_posts/post', :collection => @posts%>
 <% end %>
   <%- if @u %>
     <%= render :partial => "forum_posts/form", :locals=>{:css_class=>:followup_post_body} %>
   <%- else %>
     <h1><%= t('account.please_login', :login => link_to(t('login'), login_path), :signup => link_to(t('account.sign_up'), signup_path)) %></h1>
   <%- end %>
 </div>
 <%= will_paginate @posts %>
 <div class="clear_div"></div>
 <span class="widget_complete_btm"></span>
</div>
  
