<% rounded_corner(:title => t('announcement.announcements'), :size => 'lrg') do %>
  <%= button_to t('new'), new_announcement_path(), :method => :get %>
  <table>
    <tr>
      <th><%= t('message') %></th>
      <th><%= t('start') %></th>
      <th><%= t('end') %></th>
      <th><%= t('edit') %></th>
      <th><%= t('delete') %></th>
    </tr>
    <% for announcement in @announcements %>
      <tr>
        <td><%= announcement.message %></td>
        <td><%= announcement.starts_at.to_formatted_s(:rfc822) %></td>
        <td><%= announcement.ends_at.to_formatted_s(:rfc822) %></td>
        <td><%= link_to image_tag('edit.png', :title => t('announcement.edit'), edit_announcement_path(announcement)%></td>
        <td><%= link_to image_tag('delete.png', :title => t('announcement.delete'), announcement_path(announcement), :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <div class="clear_div"></div>
<% end %>
