<% form_for :notification_control, @notification_control, :url => notification_control_profile_path(@p), :html=>{:method => :post} do |nf| %>
  <% rounded_med_corner(:id => "notifications", :title => "Notifications", :button => 'update-notifications.png') do %>
    <table>
      <thead>
        <th><%= t('profile.notification') %></th>
        <th><%= t('profile.email_notification') %></th>
        <th><%= t('profile.message_notification') %></th>
      </thead>
      <tbody>
       <tr>
        <td><%= t('profile.news_notification') %></td>
        <td><%= nf.check_box  :news_email %></td>
        <td><%= nf.check_box  :news_message %></td>
      </tr>
      <tr>
        <td><%= t('profile.event_notification') %></td>
        <td><%= nf.check_box  :event_email%></td>
        <td><%= nf.check_box  :event_message%></td>
      </tr>
      <tr>
        <td><%= t('profile.message_notification') %></td>
        <td><%= nf.check_box  :message_email%></td>
        <td> - </td>
      </tr>
      <tr>
        <td><%= t('profile.blog_comment_notification') %></td>
        <td><%= nf.check_box  :blog_comment_email%></td>
        <td> - </td>
      </tr>
      <tr>
        <td><%= t('profile.profile_comment_notification') %></td>
        <td><%= nf.check_box :profile_comment_email%></td>    
        <td> - </td>
      </tr>
      <tr>
        <td><%= t('profile.follow_notification') %></td>
        <td><%= nf.check_box  :follow_email%></td>
        <td><%= nf.check_box  :follow_message%></td>
      </tr>
      <tr>
        <td><%= t('profile.delete_friend_notification') %></td>
        <td><%= nf.check_box :delete_friend_email%></td> 
        <td><%= nf.check_box  :delete_friend_message%></td>             
      </tr>
     </tbody>
    </table>
  <% end %>
<% end %>
