<tr>
  <%= f.hidden_field(:field)%>
  <td>
    <%= permission.field.to_s.titleize%>
  </td>
  <td>
    <%= f.radio_button(:permission, t('profile.myself'))%>
  </td>
  <td>
    <%= f.radio_button(:permission, t('profile.friends'))%>
  </td>
  <td>
    <%= f.radio_button(:permission, t('profile.everyone'))%>
  </td>
</tr>
