<div class="work_information">
  <% f.label_class = 'label_margin' %>
  <%= f.labelled_text_field(t('profile.occupation'),:occupation, :wrap_class => cycle(:row_light2, :row_dark2)) %>
  <%= f.labelled_text_field(t('profile.industry'),:industry, :wrap_class => cycle(:row_light2, :row_dark2)) %>
  <%= f.labelled_text_field(t('profile.company_name'),:company_name, :wrap_class => cycle(:row_light2, :row_dark2)) %>
  <%= f.labelled_text_field(t('profile.company_website'),:company_website, :wrap_class => cycle(:row_light2, :row_dark2)) %>
  <%= f.labelled_text_area(t('profile.job_description'),:job_description, :wrap_class => "row_light_large2") %>
  <div class="<%= cycle(:row_light2, :row_dark2)%>">
    <%= f.remove_link theme_image("remove.png") %>
  </div>
</div>
