<%
#locals
profile = feed_item.item
%>

<div id="<%= feed_item.dom_id %>">
  <div class="comments">
    <img src="/images/add_new_friends.gif" title="<%=t('feed_item.user_profile_icon') %>" alt="<%= t('feed_item.user_profile_icon') %>" /> 
    <strong><%= t('feed_item.user_updated_profile', :user => link_to(h(profile.full_name), profile) %></strong><br />
  </div>
    <%= x_feed_link(feed_item) if me %>    
</div>
