<% form_for(@photo,:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>
  <% rounded_corner(:title => t('photo.upload')) do %>
    <%= f.labelled_file_field(t('photo.upload_image'),:image,:class => "text_field" ,:wrap_class => cycle(:row_light2, :row_dark2)) %>
    <%= f.labelled_text_field t('photo.caption'), :caption, :wrap_class => cycle(:row_light2, :row_dark2) %>
    <%= f.labelled_text_field('',:set_as_blurb,:class => "text_field hidden")%>
    <button class="buttons" type ="submit" >
      <%= theme_image("save.png") %>
    </button>
  <%end%>
<% end %>

