<div class="forum_text" id="<%= post.dom_id%>" >
  <div class="author_panel">
    <%= icon post.owner %>
    <div class="profile_links">
      <div><strong><%=link_to(post.owner.f(18, :is_long => true), profile_path(post.owner))%></strong></div>
      <%= t('location') %>:
      <%= location_link post.owner%> 
      <div><%= t('group') %>:
        <%= post.owner.group%>
      </div>
      <div><%= t('posted') %>:<%= post.created_at.to_date.to_formatted_s(:rfc822) %>
      </div>
    </div>
  </div>
  <div class="message_panel">
    <div><%= post.body %></div>
    <% if @u.is_admin? || owner(post)%>
      <div class="delete_post"><%= link_to_remote t('forum_posts.delete_post'), {:url => forum_topic_post_path(@forum, @topic, post), :confirm => t('confirm'), :method => :delete}, {:class=> "destroy", :id => "#{post.dom_id}_destroy_link"} %></div>
    <% end %>
  </div>
</div>
