<%= t('hi', :user => @profile.full_name) %>

<h3><%= @event.title %></h3>
<p><%= @event.description %></p>
<p><%= t('where') %>: <%= @event.place %></p>
<p><%= t('starts_at') %>: <%= @event.start_date.to_datetime.to_formatted_s(:rfc822)if @event.start_date %><p/>
<p><%= t('ends_at') %>: <%= @event.end_date.to_datetime.to_formatted_s(:rfc822)if @event.end_date %></p>
<p><%= t('hosted_by') %>: <%= @event.organizers.first.full_name %></p>
<%= render :partial => 'account_mailer/email_footer' %>
