<%= t('notifier.user_send_news', :title => @blog.title, :user => @blog.sent_by %>

<%= @blog.body %>

<p><%= t('notifier.user_send_news_message') %></p>
<%= profile_blog_url(@blog.profile, @blog) %>

<%= render :partial => 'account_mailer/email_footer' %>
